.jumbotron {
    background-color: slategray;
    height: 300px;
    padding-top: 20px;
}

.display-4 {
    font-size: 90px;
    color: white;
}

p {
    color: white;
}

.card-header {
    background-color: slategray;
    color: white;
    font-size: 25px;
}

.score {
    width: 400px;
    height: 200px;
}

.record {
    width: 150px;
}

#playerScore-text {
    color: cadetblue;
}

#randomNumber-text {
    color: steelblue;
}
#playerScore-text, #randomNumber-text {
    font-size: 80px;
}

#wins-text, #losses-text {
    color: indianred;
    font-size: 40px;
    padding-top: 30px;
}

@media screen and (max-width: 1200px) {
    .score {
        width: 300px;
    }

    .jumbotron {
        height: 300px;
        padding-top: 0px;
    }
    
}

